%h1
  CardEffects controller, show action
%p
  Edit this file in
  %tt
    app/views/card_effects/show.html.erb

= link_to 'Edit',  url(:edit_card_effect,  @card_effect)
|
= link_to 'Back', url(:card_effects)